extends layout/main

block title
	title timerChek::Response

block content
	h2 Response Data
	.server-respons
		ul
			li Acess Token: #{data.access_token}
			li Refresh Token: #{data.refresh_token}

		span
			a(href="/authenticated") Veiw an authenticated call