extends layout/main

block title
	title timerChek::Response

block content
	h2 Response Data
	.server-respons
		ul
			li Acess Token: data.token
			li Refresh Token: data.refreshToken

		span
			a(href="/authenticated") View Details