extends layout/main

block title
	title harvest integration

block content
	.container
		.header
			h1 welcome to TimerCheck

		.main-content
			a( href="/redireect_to_harvest") Allow  Application to access your Account